.home-img {
    width: 94%; 
    aspect-ratio: 683/384;
}
.home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}
.home-img-section {
    flex: 0.9;
}
.home-info {
    flex: 1;
}
.home-title {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    max-width: 90%;
    margin: 0 auto;
}
.contacto-btn {
    font-size: 17px;
    font-weight: 600;
    margin-top: 25px;
    background-color: var(--text-color);
    color: var(--text-color-inverse);
    padding: 0.5em 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


@media (min-width: 800px) {
    .home {
        display: flex;
        text-align: center;
        box-sizing: border-box;
        align-items: center;
        flex-direction: row;
        max-width: 1500px;
        justify-content: center;
        margin: 0 auto;
        flex: 1;
    }
    .home-info {
        flex: 1;
    }
    .home-img-section {
        flex: 0.9;
    }
    .home-title {
        display: flex;
        font-size: 1.8rem;
        font-weight:300;
        line-height: 1.5;
        padding-top: 42px;
        margin: 90px auto 20px 0;
    }
    .contacto-btn {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 19px;
        font-weight:800px;
        background-color: var(--text-color);
        color: var(--text-color-inverse);
        padding: 0.5em 1em;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    
    }
    
}