.home-img {
    width: 80%; 
    aspect-ratio: 683/384;
    
}
.home {
    text-align: center;
}
.home-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 90%;
    margin: 0 auto;
}
.contacto-btn {
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
    background-color: var(--text-color);
    color: var(--text-color-inverse);
    padding: 0.5em 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .home {
        display: flex;
        text-align: center;
    }
    .home-title {
        display: flex;
        
        font-size: 25px;
        font-weight:600;
        line-height: 1.5;
        max-width: 100%;
        padding-top: 42px;
        margin: 90px auto 20px auto;
    }
    .contacto-btn {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight:800px;
        background-color: var(--text-color);
        color: var(--text-color-inverse);
        padding: 0.5em 1em;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    
    }
    
}