:root {
    --theme-color: #fcfeff;
    --primary-color: #0c13c3;
    --text-color-inverse: #ffffff;
    --text-color: #05316d; 
    --navbar-shallow-color: #e5e5e5;
    --footer-background-color: #05316d;
    --section-body-backgroud-color: #f6f7f8;
}