.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 14px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 36px;
}

.services-container article {
    background: var(--grid-background-color);
    border-radius: 8px;
    padding: 5px 18px;
    color: var(--text-color);
}
.service-title {
    margin-top: 18px;
    margin-bottom: 0px;
    font-size: 1.2rem;
}
.service-description {
    font-size: 1rem;
    margin-top: 10px;
    line-height: 1.4rem;
}